// Place all the styles related to the favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.favorite-icon {
  margin-right: 1rem;
}

.favorite-icon-white {
  margin-right: 1rem;
  color: #FFFFFF; 
}
